/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;

}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;


}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




/* Sidebar styles */
.main {
  display: flex;
  gap: 2rem;
  height: 100vh;
  margin: 0 2rem;
}

.projects-sidebar {
  width: 33.333%;
  padding: 16px 32px;
  background-color: #1c1917;
  color: #fafaf9;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

/* Heading styles */
.projects-sidebar h2 {
  margin-bottom: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #a8a29e;
  font-size: 1.125rem;
}



/* Button styles */
.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  background-color: #292524;
  color: #d6d3d1;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #3f3a36;
  color: #f5f5f4;
}


/* Task list styles */
.todo-task__list {
  margin-top: 2rem;
}

.task-list__btn {
  width: 100%;
  text-align: left;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin: 0.25rem 0;
  background-color: rgb(156, 152, 150);

}

.task-list__btn--active {
  width: 100%;
  text-align: left;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin: 0.25rem 0;
  background-color: rgb(39, 38, 38);
  color: #c9c9c9;

}

.task-list__btn--extra {
  width: 100%;
  text-align: left;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin: 0.25rem 0;
  color: rgb(187, 184, 183);
}

.todo-task__list button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-task__list button:hover {
  background-color: rgb(187, 184, 183);
  color: #1b1a1a;
}


/* Responsive adjustments */
@media (min-width: 768px) {
  .projects-sidebar {
    width: 18rem;
  }

  .projects-sidebar button {
    font-size: 1rem;
  }
}

/* End of sidebar styles */

/* New Todo styles */
.new-project {
  width: 35rem;
  margin-top: 4rem;
  font-family: "Overpass", serif;

}

.new-project-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.new-project-menu li {
  list-style: none;
}

.new-project_menu--cancel {
  color: #1c1917;
  background-color: transparent;
}

.new-project_menu--cancel:hover {
  color: #1b1a1a;
}

.new-project_menu--save {
  background-color: #292524;
  color: #d6d3d1;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;

}

.new-project_menu--save:hover {
  background-color: #3f3a36;
  color: #f5f5f4;
}

/* End of new project styles */

/* Input styles */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 1rem 0;
}

.input-container label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #555352;


}

.input-container input,
.input-container textarea {
  width: 100%;
  padding: 0.25rem;
  border-bottom: 0.5rem;
  border-radius: 4px;
  border-color: #d3cfcc;
  background-color: #f5f5f4;
  color: #1c1917;
}

.input-container input:focus,
.input-container textarea:focus {
  border-color: #1c1917;
}

/* End of input styles */

/* no todo styles */
.no-todo {
  margin-top: 3rem;
  text-align: center;
  width: 65%;

}

.no-todo img {
  margin-bottom: 1rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin: 0 auto;

}

.no-todo h2,
.modal__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(120, 113, 108);
  margin: 1rem 0;

}

.no-todo__description,
.modal__description {
  color: rgb(168 162 158);
  margin-bottom: 1rem;

}

.no-todo__button--container {
  margin-top: 2rem;
}

/* End of no todo styles */


/* Modal styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  backdrop-filter: blur(2px);
  background-color: #292524e6;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.modal form {
  margin-top: 1rem;
  text-align: right;
}

/* End of modal styles */
/* selected todo */

.selected-todo {
  width: 35rem;
  margin-top: 4rem;

}

.selected-todo__header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #cfccc9;
}

.todo-header__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-header__details h1 {
  font-size: 1.875rem;
  font-weight: bold;
  color: #4e2e2e;
  margin-bottom: 0.5rem;

}

.todo-header__details button {
  color: #4e2e2e;
}

.todo-header__details button:hover {
  color: #1b1a1a;
}

.todo-header__description {
  margin-bottom: 1rem;
  color: #4e2e2e;
  white-space: pre-wrap;
}

/* Tasks styles */
.task-heading {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4e2e2e;
  margin-bottom: 1rem;
}

.tasks p {
  color: #4e2e2e;
  margin: 1rem 0;
}

.new-task {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.new-task input {
  width: 16rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  background-color: #c9c9c9;
}

.new-task button {
  color: #4e2e2e;
  ;
}

.new-task button:hover {
  color: #1b1a1a;
}

.task-items {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 6px;
  background-color: rgb(245 245 244);
}

.task-item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

/* .task-item button {
  color: #4e2e2e;

} */

/* .task-item button:hover {
  color: #a51f1f;
  background-color: #f5f5f4;
} */

.task-item__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}